name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Cross-compilation Tools
        run: |
          sudo apt-get update
          sudo apt-get dist-upgrade -y
          apt-cache show gcc-multilib
          apt-cache show gcc-arm-linux-gnueabihf
          apt-cache show gcc-aarch64-linux-gnu
          sudo apt-get install -y build-essentials gcc-multilib gcc-arm-linux-gnueabihf gcc-aarch64-linux-gnu libasound2-dev

      - name: Set up Go
        uses: actions/setup-go@v5

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
